/* pages/cart/cart.wxss */

.demo {
  background-color: lightcyan;
  height: 700rpx;
  width: 375rpx;
}

view {
  display: flex;
  height: 300rpx;
  background-color: skyblue;
  align-items: center;
}