page {
  background-color: #efefef;
  height: 100vh;

  padding: 16rpx;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;


  // 从第二个组件开始
  > view {
    &:nth-child(n + 2) {
      margin-top: 16rpx;
    }
  }
}

.swiperStyle {
  border-radius: 10rpx;
  overflow: hidden;

  swiper {
    height: 360rpx;
    // background-color: skyblue;
    swiper-item {

      image {
        height: 100%;
        width: 100%;
        border-radius: 10rpx;
      }

      // & 在 Sass中代表的是引用父选择器，下面写法等于 swiper-item:first-child
      // &:first-child {
      //   background-color: lightgoldenrodyellow;
      // }
  
      // &:last-child {
      //   background-color: lightgreen;
      // }
    }
  }
}

// 信息区域
.info {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20rpx 16rpx;
  border-radius: 10rpx;
  font-size: 16rpx;
}

// 商品导航区域
.goods-nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20rpx 16rpx;
  border-radius: 10rpx;

  view {
    navigator {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    image {
      width: 100rpx;
      height: 100rpx;
    }

    text {
      font-size: 30rpx;
      margin-top: 12rpx;
    }
  }
}

text {
  color: black;
  font-size: 24rpx;
}